.inter{
    font-family: "Inter", sans-serif;
}
.raleway{
    font-family: "Raleway", sans-serif;
}
.banner{
    background-image: url(images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 600px; */
    /* background-position: center center; */
    
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 16px;
    max-width: 1280px;

}